<div class="container">
  <!-- Example row of columns -->
  {{#if articles}}

  {{#each articles}}
      <form action="/update" method="post">
       <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
                <!-- Default panel contents -->

              <input type="hidden" name="_id" value="{{_id}}">

              <div class="panel-heading">{{title}} <button class="btn btn-success pull-right" type="submit" name="button"> Save </button> </div>


              <div class="panel-body">
               <p> <a href="{{link}}"> {{title}}</a> </p>
               <p>{{description}}</p>
              </div>

             </div>
          </div>
        </div>
      </form>
    {{/each}}

  {{else}}


  {{/if}}

  </div>

  <hr>


</div> <!-- /container -->
