<div class="container">
  <!-- Example row of columns -->

  {{#each articles}}

    <form action="/removeArticle" method="post">
     <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
              <!-- Default panel contents -->

            <input type="hidden" name="_id" value="{{_id}}">

            <div class="panel-heading">{{title}} <button class="btn btn-danger pull-right" type="submit" value="save" name="save">DELETE FROM SAVED</button>
                                                 <button class="btn btn-success pull-right" type="submit" value="note" name="note">ARTICLE NOTES</button>



            <div class="panel-body">
             <p> <a href="{{link}}"> {{title}}</a> </p>
             <p>{{description}}</p>
            </div>

           </div>
        </div>
      </div>
    </form>

  {{/each}}


  </div>

  <hr>


</div> <!-- /container -->
